.main-about {
    .block {
        display: flex;
        margin-bottom: 160px;
        @media screen and (max-width: 1100px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 689px;
            margin: 0 auto 120px;
            img {
                width: 689px;
            }
        }

        @media screen and (max-width: 650px) {
            max-width: 375px;
            margin: 0 auto 120px;
            overflow-x: hidden;
            img {
                max-width: 375px;
            }
        }
        @media screen and (max-width: 380px) {
            max-width: 375px;
            @include margin(-24px);
            overflow-x: hidden;
            img {
                width: 375px;
            }
        }

        .text {
            background: $color-light-peach-background;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                color: white;
            }
            h1,
            h2,
            .div-text {
                padding: 30px 80px;

                @media screen and (max-width: 1200px) {
                    padding: 10px 10px;
                }
            }
        }
    }
    .main-about__header {
        position: relative;
        @media screen and (max-width: 1100px) {
            flex-direction: column-reverse;
        }
        .text {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            background: url(../img/about/Oval\(2\).png);
            height: 480px;
            @media screen and (max-width: 1100px) {
                min-height: 50%;
                background: $color-peach;
                border-bottom-left-radius: 15px;
                border-top-left-radius: 0;
                border-bottom-right-radius: 15px;
                p {
                    padding: 0px 50px 30px 50px;
                }

                &::before {
                    content: url(../img/about/tablet/firstimage.jpg);
                    position: absolute;
                    top: 0px;
                }
            }
            @media screen and (max-width: 650px) {
                border-radius: 0;
                &::before {
                    content: url(../img/about/phone/firstimage.png);
                    position: absolute;
                    width: 375px;
                    height: 320px;
                    top: 0;
                }
            }
            h2 {
                color: white;
            }
            p {
                color: white;
                padding: 0px;
            }
        }

        img {
            @media screen and (max-width: 1100px) {
                height: 306px;
                border-bottom-left-radius: 0;
                border-top-left-radius: 15px;
            }
            @media screen and (max-width: 650px) {
                border-radius: 0;
            }
        }
        @media screen and (max-width: 1100px) {
            height: 632px;
        }
        @media screen and (max-width: 500px) {
            margin-bottom: 0;
            height: 715px;
        }
    }
    .second-block {
        position: relative;
        .text {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            height: 640px;
            h2 {
                color: $color-peach;
            }
            @media screen and (max-width: 1100px) {
                min-height: 386px;
                margin-top: -6px;
                border-top-right-radius: 0;
                border-bottom-left-radius: 15px;
                p {
                    padding: 0px 50px 30px 50px;
                }
                &::before {
                    content: url(../img/about/tablet/secondimage.jpg);
                    position: absolute;
                    top: 0px;
                }
            }
            @media screen and (max-width: 650px) {
                border-radius: 0;
                p {
                    margin-bottom: 0px;
                    padding: 20px;
                }
                &::before {
                    content: url(../img/about/phone/secondphone.png);
                    position: absolute;
                    width: 375px;
                    height: 320px;
                    top: 0;
                }
            }
        }

        img {
            @media screen and (max-width: 1100px) {
                height: 320px;
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
            }
            @media screen and (max-width: 650px) {
                border-radius: 0;
                height: 320px;
            }
        }
        @media screen and (max-width: 1100px) {
            height: 736px;
        }
        @media screen and (max-width: 650px) {
            height: 856px;
        }
    }
    .last-block {
        position: relative;
        .text {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            height: 640px;
            h2 {
                color: $color-peach;
            }
            @media screen and (max-width: 1100px) {
                min-height: 386px;
                margin-top: -6px;
                border-top-left-radius: 0;
                border-bottom-right-radius: 15px;
                p {
                    padding: 0px 50px 30px 50px;
                }
                &::before {
                    content: url(../img/about/tablet/lastimage.jpg);
                    position: absolute;
                    top: 0px;
                }
            }
            @media screen and (max-width: 650px) {
                border-radius: 0;
                p {
                    margin-bottom: 0px;
                    padding: 20px;
                }
                &::before {
                    content: url(../img/about/phone/Bitmap\ Copy.jpg);
                    position: absolute;
                    width: 375px;
                    height: 320px;
                    top: 0;
                }
            }
        }
        @media screen and (max-width: 1100px) {
            height: 736px;
            flex-direction: column-reverse;
        }
        img {
            @media screen and (max-width: 1100px) {
                height: 320px;
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
            }
            @media screen and (max-width: 650px) {
                border-radius: 0;
                height: 320px;
            }
        }
        @media screen and (max-width: 650px) {
            height: 865px;
        }
    }
    .location {
        display: flex;
        justify-content: space-around;
        margin-bottom: 160px;
        text-align: center;
        @media screen and (max-width: 1100px) {
            flex-direction: column;
            margin-bottom: 120px;
        }
        @media screen and (max-width: 650px) {
            margin-bottom: 70px;
        }
        h3 {
            margin-top: 48px;
            margin-bottom: 32px;
            @media screen and (max-width: 650px) {
                margin: 30px auto;
            }
        }
        button {
            color: white;
            background: $color-peach;
            transition: 0.2s;
            &:hover {
                background: $color-light-peach;
            }
            @media screen and (max-width: 1100px) {
                margin-bottom: 48px;
            }
            @media screen and (max-width: 650px) {
                margin-bottom: 48px;
            }
        }
    }
}
