.main-contact {
    .contact {
        height: 480px;
        background: url(../img/contact/Oval.jpg) center/cover;
        display: flex;
        align-items: center;
        margin-bottom: 160px;
        border-radius: 15px;
        @media screen and (max-width: 1100px) {
            flex-direction: column;
            height: 711px;
            border-radius: 15px;
            align-items: start;
            margin-bottom: 120px;
            justify-content: center;
            padding-left: 70px;
        }
        @media screen and (max-width: 600px) {
            height: 764px;
            max-width: 375px;
            margin: 0 auto 120px;
            padding-left: 20px;
        }
        @media screen and (max-width: 400px) {
            height: 764px;
            max-width: 375px;
            margin: 0 -24px 120px;
            padding-left: 15px;
            border-radius: 0;
        }
        .text {
            margin-top: -50px;
            width: 60%;
            color: white;
            h2,
            p {
                padding: 30px 110px 0;
                @media screen and (max-width: 1100px) {
                    padding: 0;
                }
            }
            p {
                @media screen and (max-width: 1100px) {
                    margin-bottom: 20px;
                }
            }
            h2 {
                @media screen and (max-width: 1100px) {
                    margin: 70px auto 40px;
                }
            }
            @media screen and (max-width: 1100px) {
                width: 573px;
            }
            @media screen and (max-width: 730px) {
                width: 453px;
            }
            @media screen and (max-width: 600px) {
                width: 327px;
                text-align: center;
            }
        }
        .form {
            .warning {
                position: absolute;
                right: 0px;
                top: 20%;
                display: none;
                i {
                    color: white;
                }
                @media screen and (max-width: 1220px) {
                    right: 20px;
                }
                @media screen and (max-width: 970px) {
                    right: 80px;
                }
                @media screen and (max-width: 900px) {
                    right: 20px;
                }
                @media screen and (max-width: 720px) {
                    right: 80px;
                }
                @media screen and (max-width: 670px) {
                    right: 120px;
                }
                @media screen and (max-width: 600px) {
                    right: 20px;
                }
            }
            form {
                // height: 480px;
                position: relative;
                display: flex;
                flex-direction: column;
                input {
                    border: none;
                    margin-bottom: 20px;
                    padding: 15px 200px 11px 10px;
                    background: transparent;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    color: white;
                    @media screen and (max-width: 1100px) {
                        width: 563px;
                    }
                    @media screen and (max-width: 600px) {
                        width: 327px;
                    }
                    &::placeholder {
                        color: rgba(255, 255, 255, 0.5);
                    }
                    &:focus {
                        caret-color: white;
                        outline: none;
                        border-bottom: 1px solid rgba(255, 255, 255);
                        color: white;
                    }
                }
                .pseudo-message,
                .message-error,
                .email-error {
                    font-size: 0.7rem;
                    color: rgba(235, 209, 209, 0.822);
                    // margin-top: -20px;
                }

                textarea {
                    border: none;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    padding: 0 20px 75px 15px;
                    background: transparent;
                    resize: none;
                    &::placeholder {
                        color: rgba(255, 255, 255, 0.5);
                    }
                    &:focus {
                        caret-color: white;
                        outline: none;
                        border-bottom: 1px solid rgba(255, 255, 255);
                        color: white;
                    }
                }
                .submit-container {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 24px;
                    @media screen and (max-width: 1100px) {
                        justify-content: center;
                    }
                    input {
                        cursor: pointer;
                        font-weight: 500;
                        letter-spacing: 1px;
                        border: none;
                        padding: 18px 40px 16px 40px;
                        border-radius: 8px;
                        background: white;
                        transition: 0.2s;
                        color: black;
                        &:hover {
                            background: $color-light-peach;
                            color: white;
                        }
                        @media screen and (max-width: 1100px) {
                            width: auto;
                        }
                    }
                }
            }
        }
    }
    .location {
        display: flex;
        justify-content: space-around;
        margin-bottom: 160px;
        text-align: center;
        position: relative;
        &::after {
            content: url(../img/home/Rectangle.png);
            position: absolute;
            top: 100px;
            left: 270px;
            z-index: -1;
            @media screen and (max-width: 1200px) {
                display: none;
            }
        }
        @media screen and (max-width: 1100px) {
            flex-direction: column;
            margin-bottom: 120px;
        }
        @media screen and (max-width: 500px) {
            margin-bottom: 70px;
        }
        h3 {
            margin-top: 48px;
            margin-bottom: 32px;
            @media screen and (max-width: 500px) {
                margin: 30px auto;
            }
        }
        button {
            background: $color-peach;
            transition: 0.2s;

            a {
                color: $color-white;
            }

            &:hover {
                background: $color-light-peach;
            }
            @media screen and (max-width: 1100px) {
                margin-bottom: 48px;
            }
            @media screen and (max-width: 500px) {
                margin-bottom: 48px;
            }
        }
    }
}
