.main-home {

    .main-home-header {
        height: 640px;
        max-width: 100%;

        background-color: $color-peach;
        border-radius: 15px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 95px 95px 95px 95px;
        overflow-y: hidden;
        align-self: center;

        margin-bottom: 160px;

        @media screen and (max-width: 1300px) {
            height: 843px;
            flex-direction: column;
            padding: 60px 60px 60px 60px;
            margin-bottom: 120px;
        }

        @media screen and (max-width: 630px) {
            font-size: 15px;
            line-height: 25px;
            padding: 80px 24px 24px 24px;
            height: 843px;
        }

        @media screen and (max-width: 375px){
            @include margin (-24px);
            min-width: 375px;
        }


        .img-main-home-header {
            position: relative;
            height: 640px;

            .phone {
                position: relative;
                height: 572px;
                z-index: 2;
                margin-top: 141px;

                @media screen and (max-width: 1300px) {
                    height: 572px;
                    width: 278px;
                    margin-top: 69px;
                }
            }

            /*.circle {
                position: absolute;
                z-index: 1;
                height: 100%;
                transform: translateX(-50%) rotate(-90deg);
                left: 0%;
            }*/
        }

        .text {
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;

            text-align: left;

            @media screen and (max-width: 1300px) {
                text-align: center;
                align-items: center;
            }
            
            h1 {
                color: $color-white;
                max-width: 540px;
                margin-bottom: 11px;

                @media screen and (max-width: 1300px) {
                    max-width: 573px;
                    margin-bottom: 22px;
                }

                @media screen and (max-width: 630px) {
                    font-size: 32px;
                    line-height: 36px;
                }
            }

            p {
                color: $color-white;
                max-width: 445px;
                margin-bottom: 40px;

                @media screen and (max-width: 1300px) {
                    max-width: 445px;
                }

                @media screen and (max-width: 630px) {
                    font-size: 15px;
                    line-height: 25px;
                }
            }

            .header__button {

                a {
                    color: $color-dark-grey;
                }

                :hover {
                    background-color: $color-light-peach;

                    a {
                        color: $color-white;
                    }
                }
            }
        }
    }

    .navigation-link {
        max-width: 100%;
        display: flex;
        justify-content: space-around;

        height: 640px;

        margin-bottom: 160px;

        @media screen and (max-width: 1400px) {
            flex-direction: column;
            height: 689px;
        }

        @media screen and (max-width: 400px) {
            height: 798px;
        }

        article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            position: relative;

            width: 541px;
            height: 640px;

            @media screen and (max-width: 1400px) {
                width: 100%;
                height: 200px;
                margin-bottom: 30px;
            }

            @media screen and (max-width: 400px) {
                margin-bottom: 65px;
            }




            .img-link {
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                    border-radius: 15px;;

                    @media screen and (max-width: 1400px) {
                        width: 100%;
                        height: 200px;
                    }

                    @media screen and (max-width: 400px) {
                        width: 100%;
                        height: 250px;
                    }
                }
            }

            .link {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: $color-white;

                h3 {
                    color: $color-white;
                    margin-top: 24px;

                    @media screen and (max-width: 400px) {
                        margin-top: 11px;
                    }
                }

                @media screen and (max-width: 400px) {
                    h2{
                        font-size: 28px;
                    }
                }
            }
        }

        .link-right {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            :first-child{
                h2{
                    margin-top: 7px;
                }
            }
            
            .img-link {
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }
            }
        }
    }

    .section__info {
        max-width: 100%;
        margin-bottom: 160px;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 30px;

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }

                li {
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    @media screen and (max-width: 768px) {
                        flex-direction: row;

                        .text {
                            display: flex;
                            flex-direction: column;
                        }
                    }

                    @media screen and (max-width: 500px) {
                        flex-direction: column;
                    }

                    img {
                        align-self: center;
                        width: 202px;
                        height: 202px;
                        margin-bottom: 48px;

                        @media screen and (max-width: 768px) {
                            margin-right: 48px;
                        }
                        
                    }

                    h3 {
                        margin-bottom: 32px;

                        @media screen and (max-width: 768px) {
                            text-align: left;
                        }

                        @media screen and (max-width: 500px) {
                            text-align: center;
                        }
                    }

                    p {
                        text-align: center;

                        @media screen and (max-width: 768px) {
                            text-align: left;
                        }

                        @media screen and (max-width: 500px) {
                            text-align: center;
                        }
                    } 
                }
        } 
    }  
}
