.main-locations {
    margin-bottom: 160px;

    @media screen and (max-width: 1300px) {
        margin-bottom: 120px;
    }

    article {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 30px;
        margin-bottom: 32px;

        &:nth-child(2n + 1) {
            grid-template-columns: 2fr 1fr;

            picture {
                order: 2;
            }

            @media screen and (max-width: 1300px) {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;

                picture {
                    order: 0;
                }
            }
        }

        @media screen and (max-width: 1300px) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 24px;
            margin-bottom: 120px;
        }

        @media screen and (max-width: 650px) {
            gap: 0px;
            margin-bottom: 30px;
            height: 714px;
        }

        @media screen and (max-width: 375px) {
            @include margin(-24px);
            min-width: 375px;
        }

        picture {
            height: 326px;
            width: 350px;
            border-radius: 15px;

            @media screen and (max-width: 1300px) {
                width: 100%;
            }

            @media screen and (max-width: 650px) {
                height: 320px;
                border-radius: 0;
            }

            img {
                height: 326px;
                width: 350px;
                border-radius: 15px;

                @media screen and (max-width: 1300px) {
                    width: 100%;
                }

                @media screen and (max-width: 650px) {
                    height: 320px;
                    border-radius: 0;
                }
            }
        }

        .text {
            height: 326px;
            border-radius: 15px;
            padding-left: 95px;

            background: url(../img/location/LocationsBG.png) no-repeat center/cover;

            
            display: flex;
            flex-direction: column;
            justify-content: center;

            gap: 24px;

            @media screen and (max-width: 650px) {
                align-items: center;
                height: 394px;
                padding: 0px;
                border-radius: 0;
            }

            h2 {
                color: $color-peach;
            }

            h4 {
                font-weight: 700;
                line-height: 26px;
            }

            .infos {
                display: flex;
                flex-direction: row;
                gap: 88px;

                @media screen and (max-width: 650px) {
                    flex-direction: column;
                    gap: 24px;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    text-align: justify;

                    @media screen and (max-width: 650px) {
                        text-align: center;
                    }
                }
            }
        }
    }
}
